.counters{
    margin-right: 30px;
    font-size: 10px;
    text-align: center;
}

strong{
    display: block;
    font-size: 2em;
}
.vote, .answer{
    width: 60px;
    height: 60px;
}
.unanswered{
    border: none;
}
.answered{
    border: 1px solid rgb(95, 187, 126);
    color: rgb(95, 187, 126);
}

.answered-accepted{
    background-color: rgb(95, 187, 126);
    color: #fff;
}
.view{
    margin-top: 10px;
}
.error{
    font-size: 7px;
}
form.form-delete{
    display: inline;
}
.vote-controls{
    min-width: 60px;
    margin-right: 30px;
    text-align: center;
    color: #495057; /***$gray-700**/
}
span, a{
    display: block;
}

span{

&.votes-count{
    font-size: 25px;
 }
 &.favorites-count{
    font-size: 12px;
  }
}

a{
   cursor: pointer;
    color: #495055;
}
.favorite li{
    color: yellow;
}
.vote-accepted{
    color: rgba(0,144,7,0.75);
}
.favorited{
    color: rgba(237,220,48,0.75);
}
.post{
    padding: 20px 0;
    border-bottom: 1px solid #cccccc;

}

[v-cloak] {
    display: none;
}
